.container {
  /* height: 60vh; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.imageContainer {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}

.formContainer {
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input {
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bgSoft);
  color: var(--text);
}

.form textarea {
  padding: 20px;
}

.form button {
  padding: 20px;
  background-color: var(--btn);
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.signInLink {
  display: block;
  text-align: right;
  padding: 1rem;
}

.genderContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.genderMale,
.genderFemale {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 12px;
  color: gray;
}
